@media(max-width: 870px) {
    .hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        transition: .6s;
    }

    .dn {
        display: none;
    }

    .dg {
        display: grid;

    }

    .list-menu {
        background-color: black;
        position: absolute;
        right: 0;
        top: 4.3rem;
        border-radius: 0px 0px 0px 8px;
        z-index: 100;
    }

    .lm-tap-gesture {
        background-color: rgba(73, 72, 72, 0.233);
        position: fixed;
        width: 100%;
        height: 100%;
        filter: blur(10px);
        z-index: 100;
        left: 0;
        top: 0;
    }


    nav ul {
        padding-right: 2rem;
        display: grid;
    }

    nav li a {
        display: block;
        gap: 4rem;
    }

    .mobil-menu-icon {
        display: block;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
       
    }

    .social-hr {
        width: 100%;
    }

    .socials {
        display: flex;
        place-content: center;
        padding-bottom: 1rem;
        margin-right: unset;
    }

    .social-wrapper {
        display: flex;
        gap: 3rem;
    }

    .about-page {
        width: 100%;
        margin-top: -13rem;
    }

    .about-page-wrapper {
        display: grid;
        place-content: center;
        width: 100%;
        margin-inline: 2rem;
    }

    .left-menu {
        width: 100%;
        
    }

    .right-menu {
        width: 100%;
    }


}

@media(max-width: 330px) {
    .title {
        font-size: .9rem;
    }

    .list-menu {
        background-color: black;
        position: absolute;
        right: 0;
        top: 3.8rem;
        border-radius: 0px 0px 0px 8px;
        z-index: 100;
    }
}